[Unit]
Description=Loki service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ loki_service_user }}
Group={{ loki_service_group }}
ExecStart={{ loki_binnary_path }}/loki -config.file {{ loki_config_path }}/config.yml
# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec = 120
Restart = on-failure
RestartSec = 2

[Install]
WantedBy=multi-user.target
